{% extends './layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <span>Thông tin điểm dành ngày:</span>
    </div>
    <div class="col-12">
      <div class="form-group">
        <input class="form-control" type="text" name="birthday" value="{{ dateQuery }}" readonly />
      </div>
    </div>
    <div class="col-12">
      {% if results|length > 0 %}
      <h5>Có mặt: {{ countAttended }}</h5>
      <h5>Vắng mặt: {{ countAbsent }}</h5>
      <h5>Đang chờ xác nhận: {{ countPending }}</h5>
      {% endif %}
      {% if results|length < 1 %}
      <h5>Không có dữ liệu đối với ngày hiện tại</h5>
      {% endif %}
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Trạng thái điểm danh</th>
            <th>Tương tác</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          {% if result.check == False or result.check == True or result.check =="Pending"  %}
          <tr>
            <td scope="row">{{ result.id }}</td>
            <td>{{ result.name }}</td>
              {% if result.check == True %}
              <td class="bg-primary">Có mặt</td>
              {% elif result.check == False %}
              <td class="bg-danger">Không có mặt</td>
              {% elif result.check == "Pending" %}
              <td class="bg-success">Đang chờ xác nhận</td>
              {% endif %}
            <td>
              <button type="button" class="btn btn-primary" data-toggle="modal"
                data-target="#showImage-{{ result.id }}">
                Thông tin
              </button>
              <button type="button" class="btn btn-danger" data-toggle="modal"
                data-target="#edit-attendance-{{ result.id }}">
                Chỉnh sửa
              </button>
              <!-- Show Modal -->
              <div class="modal fade" id="showImage-{{ result.id }}" tabindex="-1" role="dialog" aria-labelledby="label"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="label">Thông tin hình ảnh điểm danh:</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>ID người dùng: {{ result.id }}</p>
                      <p>Tên người dùng: {{ result.name }}</p>
                      <p>Thời gian chụp hình: {{ result.time }}</p>
                      <p>Thông tin hình ảnh:</p>
                      <img class="img-fluid" src="{{ result.image }}">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Edit Modal -->
                <div class="modal fade" id="edit-attendance-{{ result.id }}" tabindex="-1" role="dialog"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">Thay đổi trạng thái điểm danh của học sinh</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label>Trạng thái điểm danh</label>
                          <input id="date-{{ result.key }}" type="hidden" name="selectedDate" value="{{ dateQuery }}">
                          <select id="status-{{ result.key }}" class="form-control" name="selectedStatus">
                            <option value="True">Có mặt</option>
                            <option value="False">Không có mặt</option>
                          </select>
                        </div>
                        <p id="edit-error-message-{{ result.key }}" class="text-danger"></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button data-key="{{ result.key }}" class="btn btn-primary edit-button">Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
            </td>
          </tr>
          {% endif %}
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  if(!localStorage.getItem('user')) {
    $('#login-required').modal({backdrop: 'static', keyboard: false})  
    $('#login-required').modal('show');
  }
  $(function () {
    $('input[name="birthday"]').daterangepicker({
      singleDatePicker: true,
      minYear: 2015,
      maxYear: 2020,
      locale: {
        format: 'DD-MM-YYYY'
      }
    }, function (current) {
      window.location.replace(`http://${server}:5000/attendances?date=${moment(current).format('DD-MM-YYYY')}`);
    });
  });
  $('.edit-button').click(function () {
    const token = JSON.parse(localStorage.getItem('user')).token;
    console.log(token);
    const uniqueKey = $(this).data('key');
    $(`#edit-error-message-${uniqueKey}`).text("");
    $(this).prop('disabled', true);
    // Data
    const selectedDate = $(`#date-${uniqueKey}`).val();
    const selectedStatus = $(`#status-${uniqueKey}`).val();
    $.ajax({
      url: `http://${server}:5000/attendances/edit/${uniqueKey}`,
      data: {
        selectedDate,
        selectedStatus
      },
      headers: {
        'Authorization': 'Bearer ' + token,
      },
      type: 'post',
      success: function(data) {
        $('.edit-button').prop('disabled', false);
        if(data.status == "ok") {
          location.reload();
        }
        if(data.status == "failed") {
          $(`#edit-error-message-${uniqueKey}`).text("Đã có lỗi xảy ra, vui lòng thử lại");
        }
      },
      error: function(err) {
        localStorage.removeItem('user');
        location.reload();
      }
    });
  });
</script>
{% endblock %}
