{% extends './layout.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row p-2">
      <div class="col-md-5 border">
        <div class="card-body">
          <h5 class="card-title">Thu thập dữ liệu mặt một người: </h5>
              <div class="form-group">
                <label for="inputID">User ID</label>
                <input type="text" class="form-control" id="inputID" name="userID" placeholder="Enter user ID">
              </div>
              <div class="form-group">
                <label for="inputUsername">Username</label>
                <input type="text" class="form-control" id="inputUsername" name="username" placeholder="Enter username">
                <p id="error-message" class="text-danger"></p>
              </div>
              <button class="btn btn-primary" id="collect-data-button">Tiến hành</button>
        </div>
      </div>
      <div class="col-md-7 border p-0">
        <div id="info-section" class="border-bottom p-2 m-0 h-100">
          <h5 class="card-title font-weight-bold">Kết quả quá trình thu thập dữ liệu</h5>
          <p>Thu thập dữ liệu từ camera: <span id="current-collect-status" class="bg-primary font-weight-bold"></span></p>
          <p>Thêm mặt vào hệ thống: <span id="current-training-status" class="bg-primary font-weight-bold"></span></p>
          <p>Một số lưu ý khi thu thập dữ liệu mặt</p>
          <ul>
            <li>Trong lúc thu thập chỉ được phép có một người trên camera</li>
            <li>Cởi kính trước khi thu thập</li>
            <li>Tóc tai gọn gàng</li>
            <li>Nhìn thẳng vào camera và cách khoảng 20-30cm</li>
            <li>Quá trình có thể diễn ra từ 1 đến 2 phút, vui lòng đợi đến khi hệ thống báo đã hoàn tất</li>
            <li>Vui lòng nhập chính xác ID của user, username sẽ bỏ qua nếu ID đã tồn tại</li>
          </ul>
        </div>
    </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
  if(!localStorage.getItem('user')) {
    $('#login-required').modal({backdrop: 'static', keyboard: false})  
    $('#login-required').modal('show');
  }
  $('#collect-data-button').click(function () {
    $('#current-collect-status').text("");
    $('#current-training-status').text("");
    // Remove spaces
    const userID = $("#inputID").val().trim();
    const username = $("#inputUsername").val().trim();
    if(userID !== "") {
          $('#current-collect-status').text("Đang xử lí");
          $(this).prop('disabled', true);
    $.ajax({
      url: `http://${server}:5000/collect-data`,
      type: 'post',
      data: {
        userID,
        username,
      },
      headers: {
        'Authorization': 'Bearer ' + JSON.parse(localStorage.getItem('user')).token,
      },
      success: function(data) {
        if(data.status == "ok") {
          $('#current-collect-status').text("Thành công");
          $('#current-training-status').text("Đang xử lí");
          $.ajax({
            url: `http://${server}:5000/train-data`,
            type: 'post',
            data: {
              userID,
              username,
            },
            success: function(data) {
              if(data.status == "ok") {
                $('#current-training-status').text("Thành công");
                $('#collect-data-button').prop('disabled', false);
                $('#inputID').val("");
                $('#inputUsername').val("");
              } else {
                $('#current-training-status').text("Lỗi hệ thống");
                $('#collect-data-button').prop('disabled', false);
              }
            }
          });
        } 
        if(data.status == "failed") {
          $('#current-collect-status').text("Lỗi hệ thống");
          $('#collect-data-button').prop('disabled', false);
        }
        if(data.status == "unauthorized") {
          localStorage.removeItem('user');
          location.reload();
        }
      },
      error: function(err) {
        localStorage.removeItem('user');
        location.reload();
      }
    });
    }
    else {
      $("#error-message").text("Form cannot be empty");
    }
  });
</script>
{% endblock %}
