{% extends './layout.html' %}
{% block content %}
<div class="container">
  <div class="row">
        <div class="col-12">
      <button type="button" class="btn btn-primary mt-2 mb-2" data-toggle="modal" data-target="#addUser">
        Thêm người dùng
      </button>
        <!-- Modal -->
        <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Thêm người dùng:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="form-group">
                  <label for="inputID">ID:</label>
                  <input name="id" type="text" class="form-control" id="inputID">
                </div>
                <div class="form-group">
                  <label for="inputPassword">Name:</label>
                  <input name="username" type="text" class="form-control" id="inputName">
                </div>
                <p id="add-error-message" class="text-danger"></p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="add-button" class="btn btn-primary">Save changes</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <div class="col-12 mt-5">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for result in results %}
          <tr>
            <th scope="row">{{ result.id }}</th>
            <td>{{ result.name }}</td>
            <td>
              <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteUser-{{ result.id }}">
                Xóa
              </button>
            </td>
            <!-- Delete modal -->
              <div class="modal fade" id="deleteUser-{{ result.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Deleting user</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Xin lưu ý bạn đang thực hiện xóa toàn bộ dữ liệu khuôn mặt khỏi hệ thống. <span class="text-danger">Hành động này không thể hoàn tác! </span></p>
                      <p id="delete-error-message-{{ result.key }}" class="text-danger"></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                      <button data-key="{{ result.key }}" class="btn btn-primary delete-button">Xóa</button>
                    </div>
                  </div>
                </div>
              </div>
          </tr>
          {%endfor%}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
{% block script %}
<script>
  if(!localStorage.getItem('user')) {
    $('#login-required').modal({backdrop: 'static', keyboard: false})  
    $('#login-required').modal('show');
  }
    $('#add-button').click(function () {
    $('add-error-message').text("");
    $(this).prop('disabled', true);
    const id = $("#inputID").val();
    const username = $("#inputName").val();
    $.ajax({
      url: `http://${server}:5000/user/add`,
      data: {
        id,
        username
      },
      headers: {
        'Authorization': 'Bearer ' + JSON.parse(localStorage.getItem('user')).token,
      },
      type: 'post',
      success: function(data) {
        $('#add-button').prop('disabled', false);
        if(data.status == "ok") {
          location.reload();
        }
        if(data.status == "failed") {
          $('#add-error-message').text("Đã có lỗi xảy ra, vui lòng thử lại");
        }
        if(data.status == "duplicate") {
          $('#add-error-message').text("Đã tồn tại user với ID như trên");
        }
        if(data.status == "unauthorized") {
          localStorage.removeItem('user');
          location.reload();
        }
      },
      error: function(err) {
        // Trường hợp token bị expired
        localStorage.removeItem('user');
        location.reload();
      }
    });
  });

  $('.delete-button').click(function () {
    const uniqueKey = $(this).data('key');
    $(`#delete-error-message-${uniqueKey}`).text("");
    $(this).prop('disabled', true);
    $.ajax({
      url: `http://${server}:5000/user/delete/${uniqueKey}`,
      type: 'post',
      headers: {
        'Authorization': 'Bearer ' + JSON.parse(localStorage.getItem('user')).token,
      },
      success: function(data) {
        $('.delete-button').prop('disabled', false);
        if(data.status == "ok") {
          location.reload();
        }
        if(data.status == "failed") {
          $(`#delete-error-message-${uniqueKey}`).text("Đã có lỗi xảy ra, vui lòng thử lại");
        }
        if(data.status == "unauthorized") {
          localStorage.removeItem('user');
          location.reload();
        }
      },
      error: function(err) {
        // Trường hợp token bị expired
        localStorage.removeItem('user');
        location.reload();
      }
    });
  });
</script>
{% endblock %}
