<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="./static/css/style.css">
  <title>Face Recognition</title>
  <style>
    html,
    body {
      margin:0;
      padding:0;
      height: 100vh;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Face recognition</a>
    <button class="text-white btn btn-primary" id="logout-button">Đăng xuất</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal" id="login-button">
      Đăng nhập
    </button>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog"aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Login form</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="form-group">
                <label for="inputLoginUser">Username</label>
                <input type="text" class="form-control" id="inputLoginUser" placeholder="Enter username">
              </div>
              <div class="form-group">
                <label for="inputLoginPassword">Password</label>
                <input type="password" class="form-control" id="inputLoginPassword" placeholder="Enter Password">
              </div>
              <p class="text-danger" id="login-error-message"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button id="login-submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="d-flex h-100">
    <!-- Sidebar -->
    <div class="bg-light border-right">
      <div class="list-group list-group-flush">
        <a href="/" class="list-group-item list-group-item-action bg-light">Điểm danh</a>
        <a href="/users" class="list-group-item list-group-item-action bg-light">List người dùng</a>
        <a href="/attendances" class="list-group-item list-group-item-action bg-light">Tình trạng điểm danh</a>
        <a href="/dataset" class="list-group-item list-group-item-action bg-light">Dữ liệu hệ thống</a>
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>
  <!-- Login modal required -->
  <div class="modal fade" id="login-required" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Đã có lỗi xảy ra</h5>
        </div>
        <div class="modal-body text-center">
          <img src="/static/img/authentication.png" alt="">
          <p>Vui lòng đăng nhập để sử dụng tính năng này</p>
        </div>
        <div class="modal-footer">
          <a href="/" class="btn btn-primary">Quay về trang chủ</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<!-- Disable button after submit -->
<script>
  const server = {{ server|tojson }};
  if(localStorage.getItem('user') !== null) {
    if(!$("#login-button").hasClass("d-none")) {
      $("#login-button").addClass("d-none")
    }
    if($("#logout-button").hasClass("d-none")) {
      $("#logout-button").removeClass("d-none")
    }
  } else {
    if($("#login-button").hasClass("d-none")) {
      $("#login-button").removeClass("d-none")
    }
    if(!$("#logout-button").hasClass("d-none")) {
      $("#logout-button").addClass("d-none")
    }
  }
  $('form').submit(function () {
    $(this).find("button[type='submit']").prop('disabled', true);
  });
  $('#logout-button').click(function () {
    localStorage.removeItem('user');
    location.reload();
  });
  $('#login-submit').click(function () {
    $(this).prop('disabled', true);
    // Data
    const username = $(`#inputLoginUser`).val();
    const password = $(`#inputLoginPassword`).val();
    $.ajax({
      url: `http://${server}:5000/auth/login`,
      data: {
        username,
        password
      },
      type: 'post',
      success: function(data) {
        $('#login-submit').prop('disabled', false);
        if(data.status == "ok") {
          localStorage.setItem('user', JSON.stringify({ token: data.token }));
          location.reload();
        }
        if(data.status == "wrong") {
          $('#login-error-message').text("Sai mật khẩu hoặc username");
        }
        if(data.status == "failed") {
          $('#login-error-message').text("Lỗi hệ thống");
        }
      }
    });
  });
</script>
{% block script %}{% endblock %}

</html>
